<div class="header position-fixed w-100 border-bottom d-flex bg-white">
    <div class="col-6">
        <form class="search-form">
            <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text border-0 " style="background-color: transparent;"><i class="fa fa-search" aria-hidden="true"></i></div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search by name or location">
              </div>
        </form>
    </div>
    <div class="col-6 d-flex align-items-center">
        <div class="avatar ms-auto rounded-circle mx-2">
            <img src="assets/images/user.svg" class="w-100" alt="">
        </div>
        <div class="avatar-details mx-2">
            <div class="name">Greg-Kockott</div>
            <div class="details">Account Owner • HelloCrowd, Inc</div>
        </div>
        <div class="mx-5">
            <img src="assets/images/icon-phone.svg" alt="">
        </div>
    </div>
</div>