.header {
    padding: 17px 10px 17px 120px ;
    z-index: 99;
    top: 0;
    left: 0;
    .search-form {
        input {
            outline: none;
            border: none!important;
            text-decoration: none;
            min-width: 250px;
        }
    }
    .avatar {
        width: 40px;
        height: 40px;
        padding: 9px 11.4px 9px 11px;
        background-color: #D9EDF7;
    }
    .avatar-details {
        .name {
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000;
            font-weight: 600;
        }
        .details {
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000;

        }
    }
}
