.main-wrapper {
    margin-top: 100px;
    width: calc(100% - 85px);
    margin-left: 85px;
    .Candidates {
        font-size: 32px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000;
       
      }
      .delete-btn {
        background-color:  #eef2f6;
        border-radius: 4px;
        font-size: 14px;
        min-width: 68px;
        min-height: 40px;
        font-weight: 600;
     }
     .add-btn {
        border-radius: 4px;
        background-color: #3fa6d9;
        font-size: 14px;
        min-width: 68px;
        min-height: 40px;
        font-weight: 600;
        color: #fff;
     }
     .data-table {
        border-radius: 4px;
        margin: 21px 0px 0px 0px;
        border: solid 1px #e9edf1;
        background-color: #fff;
        thead, tbody {
           padding: 0;
           tr {
            border-bottom: solid 1px #e9edf1;
            margin: 0 25px;
               th, td {
               font-size: 12px;
               padding: 18px;
               }
            }
        }
        tbody {
         tr:last-child {
            border-bottom: 0;
         }
        }
     }
     .data-table-paginator {
      border-radius: 4px;
      background-color: #f3f5f8;
      padding: 25px;
      .Items-per-page-15 {
         font-size: 14px;
         font-weight: normal;
         font-stretch: normal;
         font-style: normal;
         line-height: normal;
         letter-spacing: normal;
         color: #000;
       }
       .---15-of-233 {
         font-size: 14px;
         font-weight: normal;
         font-stretch: normal;
         font-style: normal;
         line-height: normal;
         letter-spacing: normal;
         color: #000;
       }
     }
}
.modal-header {
   .modal-title {
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000;
    }
}
.modal-body {
   label {
      font-size: 14px;
      height: 16px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000;
   }
   .form-group {
      position: relative;
      .form-error-img {
         background: url('../../../assets/images/form-error.svg');
         background-repeat: no-repeat;
         background-position: 96% 6px;
     }

   }
   
}
.modal-footer {
   background-color: #f3f5f8;
   .submitBtn {
      width: 114px;
      height: 40px;
      font-size: 14px;
      font-weight: 600;
   }
   .cancelBtn {
      font-size: 14px;
      height: 40px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #3fa6d9;
    
   }
}
::ng-deep .iti.iti--allow-dropdown {
   width: 100%;
}
.text-sm {
   font-size: 12px;
}
.ng-invalid.ng-touched {
   border-color: #dc3545 !important
}

