.main-wrapper {
   .main-wrapper-inner {
      width: 100%;
      height: 90vh;
      overflow-y: auto;
       .Candidates {
           font-size: 32px;
           font-weight: bold;
           font-stretch: normal;
           font-style: normal;
           line-height: normal;
           letter-spacing: normal;
           color: #000;

         }
         .delete-btn {
           background-color:  #eef2f6;
           border-radius: 4px;
           font-size: 14px;
           min-width: 68px;
           min-height: 40px;
           font-weight: 600;
        }
        .add-btn {
           border-radius: 4px;
           background-color: #3fa6d9;
           font-size: 14px;
           min-width: 68px;
           min-height: 40px;
           font-weight: 600;
           color: #fff;
        }
        .data-table {
           border-radius: 4px;
           margin: 21px 0px 0px 0px;
           border: solid 1px #e9edf1;
           background-color: #fff;
           thead, tbody {
              padding: 0;
              tr {
               border-bottom: solid 1px #e9edf1;
               margin: 0 25px;
                  th, td {
                  font-size: 12px;
                  padding: 18px;
                  }
               }
           }
           tbody {
            tr:last-child {
               border-bottom: 0;
            }
           }
        }
        .data-table-paginator {
         border-radius: 4px;
         background-color: #f3f5f8;
         padding: 25px;
         .Items-per-page-15 {
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000;
          }
          .---15-of-233 {
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000;
          }
        }
   }
}
.modal-header {
   .modal-title {
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000;
    }
}
.modal-body {
   label {
      font-size: 14px;
      height: 16px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000;
   }
   .form-group {
      position: relative;
      .form-error-img {
         background: url('../../../assets/images/form-error.svg');
         background-repeat: no-repeat;
         background-position: 96% 6px;
     }

   }

}
.modal-footer {
   background-color: #f3f5f8;
   .submitBtn {
      width: 114px;
      height: 40px;
      font-size: 14px;
      font-weight: 600;
   }
   .cancelBtn {
      font-size: 14px;
      height: 40px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #3fa6d9;

   }
}
::ng-deep .iti.iti--allow-dropdown {
   width: 100%;
}
.text-sm {
   font-size: 12px;
}
.ng-invalid.ng-touched {
   border-color: #dc3545 !important
}

::-webkit-scrollbar {
   width: 0;
}

select{
   -webkit-appearance: listbox !important
   }

::ng-deep .mat-menu-content {
   padding: 0!important;
   min-width: 150px;
   width: auto;
}
::ng-deep button.mat-menu-item {
   height: 45px!important;
   line-height: unset;
}
.example-form {
   min-width: 150px;
   max-width: 500px;
   width: 100%;
 }

 .example-full-width {
   width: 100%;
 }
@media only screen and (max-width:768px) {
   .main-wrapper {
      .main-wrapper-inner {
         .data-table {
            overflow-x: scroll;
         }
      }
   }
}

::ng-deep {
   .cdk-overlay-container {
      z-index: 1100;

   }
   .ng-dropdown-panel {
      left: 0;
      top: calc(100% + 1px);
   }
   .ng-dropdown-panel-items {
      background-color: white;
   }
   .ng-option {
      padding: 5px 10px;
   }
   .ng-has-value .ng-placeholder {
      display: none;
    }
}
