.logo-wrap {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dee2e6 !important;
}
.sidebar {
    width: 85px;
    z-index: 99;
    transition: 0.5s;
    top: 0;
    ul {
        list-style-type: none;
        li {
            text-align: center;
            margin: 21px 21px 20px 22px;
            width: 40px;
            height: 40px;
            padding: 8px 0;
        }
    }
    .sidebar-logo {
        width: 100%;
        max-width: 27px;
    }
    .sidebar-menu {
        width: 40px;
        height: 40px;
        padding: 8px;
    }
}
